.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px;
}

.input {
  composes: input-reset from '~styleguide.module.css';
  width: 100%;
  height: 38px;
  margin-bottom: 20px;
  font-size: 16px;
  border-bottom: 1px solid #000;
}

.button {
  composes: button-reset from '~styleguide.module.css';
  height: 30px;
  background-color: rgb(1, 199, 27);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.formLabel {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
}

.modeButton {
  composes: button-reset from '~styleguide.module.css';
  margin-left: 10px;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
